all:
  hosts:
    node1:
      ansible_host: 88.200.23.39
      ip: 88.200.23.39
      access_ip: 88.200.23.39
    node2:
      ansible_host: 159.65.147.255
      ip: 159.65.147.255
      access_ip: 159.65.147.255
    node3:
      ansible_host: 35.235.124.21
      ip: 10.168.0.4
      access_ip: 35.235.124.21
    node4:
      ansible_host: 40.74.79.47
      ip: 10.0.0.4
      access_ip: 40.74.79.47
    node5:
      ansible_host: 18.228.245.164
      ip: 172.31.15.136
      access_ip: 18.228.245.164
    node6:
      ansible_host: 47.254.174.143
      ip: 172.25.116.52
      access_ip: 47.254.174.143
  children:
    kube-master:
      hosts:
        node1:
    kube-node:
      hosts:
        node1:
        node2:
        node3:
        node4:
        # node5:
        node6:
    etcd:
      hosts:
        node1:
    k8s-cluster:
      children:
        kube-master:
        kube-node:
    calico-rr:
      hosts: {}
