.App {
  text-align: center;
  color: #444;
}

#regions-cont {
  padding: 20px 0;
}

.region-stats-cont {

}

.city {
  font-size: x-large;
  font-weight: bold;
}

.time-cont {
  padding: 0 40px 17px 20px;
  font-size: normal;
}

.time-cont .time-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
  font-size: large;
  color: rgba(75,192,192,0.8);
}

.subtitle {
  font-weight: bold;
}

.pods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px 20px 10px;
  font-size: x-large;
  min-height: 80px;
  color: rgba(75,192,192,0.8);
}

.pods > div {
  margin: 0 3px;
}

/* Bootstrap override */

#regions-cont .container {
  max-width: 100%;
}
