.App {
  position: relative;
  text-align: center;
  color: #444;
  padding: 30px;
}

.infralink, .infralink:hover {
  position: absolute;
  top: 0;
  right: 3px;
  color: rgba(75,192,192,1);
}

#title {
  position: absolute;
  top: 430px;
  left: 47px;
  color: rgba(75,192,192,1);
}

#logo-icon {
  font-size: 0.6em;
}

#stats-cont {
  display: flex;
  flex-wrap: nowrap;
}

#stats-header {
  text-align: right;
  font-weight: bold;
  padding-right: 35px;
  border-right: 1px rgba(75,192,192,0.5) solid;
}

#stats-header > div:first-child{
  margin-top: 38px;
}

#stats-header > div:nth-child(2){
  margin-top: 70px;
}

#stats-header > div:nth-child(3){
  margin-top: 68px;
}

#stats-header > div:nth-child(4){
  margin-top: 57px;
}

#regions-cont {
  padding: 20px 0;
}

.city {
  font-size: x-large;
  font-weight: bold;
}

.time-cont {
  padding: 0 40px 17px 20px;
  font-size: normal;
}

.time-cont .time-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
  font-size: large;
  color: rgba(75,192,192,0.8);
}

.pods {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 15px 10px;
  font-size: x-large;
  min-height: 100px;
  color: rgba(75,192,192,0.8);
}

.pods > div {
  margin: 0 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2.5px rgba(75,192,192,1) solid;
  background-color: rgba(75,192,192,0.25);
  transition: transform 0.5s ease-in-out;
}

.company img {
  color: #000;
}

/* Animation */
.pods > .small-circle {
  transform: scale(0.7);
  background-color: rgba(75,192,192,0.05);
  animation: fade-in 0.5s ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.region-stats-cont {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.low-opacity {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

@keyframes blink {
	50% {opacity: 0.5}
}
.blink{animation: blink 1.5s infinite;}

@keyframes pulse {
	50% {transform: scale(1.3);}
}
.pulse{animation: pulse 1.5s infinite;}

/* Bootstrap override */

#regions-cont .container {
  max-width: 100%;
}

.infra {
  display: block;
  margin: 0 auto;
}
